<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Noto+Serif:700' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="style.css">
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="title-holder">
						<img src="http://www.girlfridayproductions.com/wordpress/wp-content/themes/girlfriday/assets/img/icons/icon-pencilpaper.png">
						<h1>To Do List</h1>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<form  id="create-todos">
								<div class="form-group">
									<input type="text" class="form-control" name="task" placeholder="Task">
								</div>
								<div class="form-group">
									<textarea class="form-control" name="description" rows="3" placeholder="Description"></textarea>
								</div>
								<input type="submit" class="btn btn-warning">
							</form>
						</div>
						<div class="col-sm-6">
					
						</div>
					</div>
					<br>
					<div id="todos-list">
						<script id="todos-template" type="text/x-handlebars-template">
							\{{#each todos}}
								<div class="row" id="row\{{_id}}">
									<div class="col-xs-5 task-column">
										\{{#if task}}
											<label class="task">
												<input type="checkbox" class="check" id="checked\{{_id}}"> \{{task}}
											</label>
										\{{else}}
											<label class="task">
												<input type="checkbox" class="check" id="checked\{{_id}}"> Unnamed Task</label>
											</label>
										\{{/if}}
									</div>
									<div class="col-xs-5">
										\{{#if description}}
											<h4>\{{description}}</h4>
										\{{else}}
											<h4><i>No description</i></h4>
										\{{/if}}
										<form role="form" class="edit-form" id="form\{{_id}}">
											<div class="form-group">
												<input type="text" class="form-control" name="task" placeholder="Task" value="\{{task}}">
											</div>
											<div class="form-group">
												<input type="text" class="form-control" name="description" placeholder="Description" value="\{{description}}">
											</div>
											<div class="form-group">
												<input type="submit" class="btn btn-warning" id="save" value ="Edit">
											</div>
										</form>
									</div>
									<div class="col-xs-2">	
										<button type="button" class="btn btn-default edit-button" aria-label="Left Align" id="\{{_id}}">
											<span class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true">
											</span>
										</button>
										<button type="button" class="btn btn-default delete-button" aria-label="Left Align" id="del\{{_id}}">
											<span class="glyphicon glyphicon-remove-circle glyphicon-align-left" aria-hidden="true">
											</span>
										</button>
									</div>	
								</div>
								<hr>
							\{{/each}}
						</script>
					</div>
				</div>
			</div>
		</div>
		
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		
		<!-- custom script -->
		<script type="text/javascript" src="script.js"></script> <!-- change file name -->
	</body>
</html>